.jfx-button{
	-fx-background-color:#00bcd4;
	-fx-text-fill:white;
}

.jfx-button:hover{
	-fx-background-color:#1de9b6;
	-fx-text-fill:white;
}

.cancel:hover{
	-fx-background-color:#f44336;
	-fx-text-fill:black;
}