.root{
	-fx-primary-color:#212121;
	-fx-secondry-color:#f3f386;
}

.base{
	-fx-background-color:-fx-primary-color;
}

.addBook{
	-fx-text-fill:-fx-secondry-color;
}

.addBook:hover{
	-fx-background-color:-fx-secondry-color;
	-fx-text-fill:-fx-primary-color;
}

.addMember{
	-fx-text-fill:-fx-secondry-color;
}

.addMember:hover{
	-fx-background-color:-fx-secondry-color;
	-fx-text-fill:-fx-primary-color;
}

.settings{
	-fx-text-fill:#4d4d4d;
}

.settings:hover{
	-fx-background-color:#00b0ff;
	-fx-text-fill:-fx-primary-color;	
}

.issueBook{
	-fx-background-color:-fx-primary-color;	
	-fx-text-fill:-fx-secondry-color;
	-fx-font-family:Arial;
	-fx-font-size:18px;
	-fx-border-radius:100%;
	-fx-border-color:-fx-secondry-color;
	-fx-border-radius:20px;
	-fx-background-radius:20px;
	-fx-pref-width:180px;
	-fx-pref-height:20px;
	
}

.issueBook:hover{
	-fx-background-color:-fx-secondry-color;
	-fx-text-fill:-fx-primary-color;
}

.check{
	-fx-fill:#e9e9e9;
}

.menuIcons{
	-fx-pref-width:30px;
	-fx-pref-height:30px;
	-fx-alignment:CENTER;
}

.text-field{
	-fx-pref-width:100px;
}


.menuButtons{
	-fx-content-display:LEFT;
	-fx-pref-width:159.8px;
}

.label{
	-fx-text-fill:#4d4d4d;
}
.menubar{
	-fx-background-color:-fx-primary-color;
}


.found{
	-fx-text-fill:white;
}

.notfound{
	-fx-text-fill:#e53935;
}

.available{
	-fx-text-fill:#4caf50;
}

.text-field{
	-fx-text-fill:-fx-secondry-color;
	-fx-font-size:15px;
	-jfx-focus-color:-fx-secondry-color;
}

.queryNotExist{
	-jfx-focus-color:#e53935;
	-jfx-unfocus-color:#e53935;
	-fx-text-fill:#e53935;
}

.queryExist{
	-jfx-focus-color:#4caf50;
	-jfx-unfocus-color:#4caf50;
	-fx-text-fill:#4caf50;
}

.default{
	-jfx-focus-color:-fx-secondry-color;
	-jfx-unfocus-color:-fx-secondry-color;
	-fx-text-fill:-fx-secondry-color;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
    -fx-pref-width:380px;
    -fx-pref-height:40px;
}
.tab-pane .tab
{
    -fx-background-color: -fx-primary-color;

}

.tab-pane .tab:selected
{
    -fx-background-color: -fx-secondry-color;
}

.tab .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label { 
    -fx-alignment: CENTER;
    -fx-text-fill: -fx-primary-color;
}